.navigation{
  padding: 10px 70px 10px 70px;
  /* border: 1px solid white; */
}

.navigation ul{
  list-style-type: none;
  float: right;
}

.navigation-inline {
  margin: 0;
  padding: 0 10px 0 0;
  overflow: hidden;
  /* border: 1px solid white; */
}

.navigation-inline li{
  float: left;
  cursor: pointer;
}

.navigation-inline li a{
  text-decoration: none;
  /* color: #ffffff; */
}

.navigation-inline li a:hover{
  color: #0095d1;
}

.navigation-inline li p{
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: 600;
}

.navigation-inline li .active{
  color: #0095d1;
}

.navigation-inline li .inactive{
  color: #ffffff;
}
  
.navigation-toggle{
  height: 6vmin;
  float: right;
  display: none;
  margin: 1vh 2vh 1vh 1vh;
  border: 1px solid #0095d1;
  border-radius: 10px;
  cursor: pointer;
}

.navigation-toggle-list{
  display: block;
  position: absolute;
  z-index: 1;
  margin-top: -2%;
  margin-left: 45%;
  width: 20%;
}

.navigation-toggle-list li{
  background-color: #0095d1;
  color: #000000;
  font-weight: 600;
  padding: 3px 20px 3px 20px;
}

.navigation-toggle-list li a{
  text-decoration: none;
  color: #000000;
}
  
.navigation-toggle-list li .active{
  color: #ffffff;
}

.navigation-toggle-list li .inactive{
  color: #000000;
}

.navigation-toggle-hidden {
  display: none;
}
    
@media only screen and (max-width: 380px) {
  /* xsmall-sized screens */
  .navigation{
    padding: 10px 10px 10px 10px;
  }
  .navigation-inline{
    display: none;
  }
  .navigation-toggle{
    display: block;
  }
  .navigation-toggle-list{
    margin-left: 35%;
    font-size: 10px;
  }  
  .navigation-toggle-list li{
    padding: 2px 10px 2px 10px;
  }
}
  
@media only screen and (min-width: 380px) and (max-width: 600px) {
  /* small-sized screens */
  .navigation{
    padding: 10px 20px 10px 20px;
  }
  .navigation-inline{
    display: none;
  }
  .navigation-toggle{
    display: block;
  }
  .navigation-toggle-list{
    margin-left: 40%;
    font-size: 10px;
  }  
  .navigation-toggle-list li{
    padding: 2px 10px 2px 10px;
  }
}
  
@media only screen and (min-width: 600px) and (max-width: 880px) {
  /* medium-sized screens */
  .navigation{
    padding: 10px 30px 10px 30px;
  }
  .navigation-inline{
    display: none;
  }
  .navigation-toggle{
    display: block;
  }
  .navigation-toggle-list{
    margin-left: 40%;
    font-size: 12px;
  }  
  .navigation-toggle-list li{
    padding: 2px 10px 2px 10px;
  }
}
  
@media only screen and (min-width: 880px) and (max-width: 1024px) {
  /* large-sized screens */
  .navigation{
    padding: 10px 40px 10px 40px;
  }
  .navigation-inline{
    display: none;
  }
  .navigation-toggle{
    display: block;
  }
  .navigation-toggle-list{
    margin-left: 45%;
  }  
  .navigation-toggle-list li{
    padding: 3px 20px 3px 20px;
  }
}
  
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  /* xlarge-sized screens */
  .navigation{
    padding: 10px 50px 10px 50px;
  }
}
  
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  /* xxlarge-sized screens */
  .navigation{
    padding: 10px 50px 10px 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .navigation-toggle-list{
    display: block;
  }  
}

@media only screen and (min-width: 1025px) {
  .navigation-toggle-list{
    display: none;
  }  
}
  