.skills-content {
    padding: 2vh; 
    height: 70%;   
}

.skills-content ul li{
    list-style-type: none;
    float: left;
    padding: 3vh 5vh 3vh 5vh;
}

.skills-content ul li img {
    width: 15vmin;
}

.skills-content ul li progress {
    position:relative;
    width: 100%;
    z-index: 0;
}

@media only screen and (max-width: 660px) {
    .skills-content {
        overflow: scroll;
    }
}
@media only screen and (max-width: 1024px) {
    .skills-content {
        padding: 0;
    }
    .skills-content ul li img {
        width: 10vmin;
    }
}

