.App-logo {
  height: 10vmin;
  pointer-events: none;
  /* border: 1px solid white; */
}

.Navigation{
  /* border: 1px solid white; */
  padding: 10px 70px 10px 70px;
}

.Navigation ul{
  list-style-type: none;
  float: right;
}

.Navigation-inline {
  margin: 0;
  padding: 0 10px 0 0;
  overflow: hidden;
  /* border: 1px solid white; */
}

.Navigation-inline li{
  float: left;
  cursor: pointer;
}
.Navigation-inline li a{
  text-decoration: none;
  /* color: #ffffff; */
}
.Navigation-inline li a:hover{
  color: #0095d1;
}
.Navigation-inline li p{
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: 600;
}
.Navigation-inline li .active{
  color: #0095d1;
}
.Navigation-inline li .inactive{
  color: #ffffff;
}

.Navigation-toggle{
  height: 6vmin;
  float: right;
  display: none;
  margin: 1vh 2vh 1vh 1vh;
  border: 1px solid #0095d1;
  border-radius: 10px;
  cursor: pointer;
}

.Navigation-toggle-list{
  display: block;
  position: absolute;
  margin-top: -2%;
  margin-left: 45%;
  width: 20%;
}

.Navigation-toggle-list li{
  background-color: #0095d1;
  color: #000000;
  font-weight: 600;
  padding: 3px 20px 3px 20px;
}
.Navigation-toggle-list li a{
  text-decoration: none;
  color: #000000;
}

.Navigation-toggle-list li .active{
  color: #ffffff;
}
.Navigation-toggle-list li .inactive{
  color: #000000;
}


.Navigation-toggle-hidden {
  display: none;
}

.toggleActive{
  background-color: #081b29;
  color: #ffffff;
}

.Home-details{
  padding: 120px 100vh 150px 70px;
  background-repeat: no-repeat;
  background-size: 50vh 50vh;
  background-position-x: 85%;
  background-position-y: bottom;
  /* border: 1px solid white; */
}

.Home-social-icons span{
  margin: 5px;
}

.Home-social-icons span img{
  height: 4vmin;
  cursor: pointer;
}

.Home-introduction{
  font-weight: bold;
}

.Home-hello{
  font-size: 30px;
}

.Home-name{
  font-size: 50px;
}

.Home-and, .Home-designation{
  font-size: 20px;
}

.Home-designation{
  color: #0095d1;
}

.Home-description{
  font-size: 18px;
}

.aboutContent{
  padding: 5vh;
  font-size: 18px;
}

.aboutContent p{
  text-indent: 50px;
}

@media only screen and (max-width: 380px) {
  /* xsmall-sized screens */
  .Navigation{
    padding: 10px 10px 10px 10px;
  }
  .Navigation-inline{
    display: none;
  }
  .Navigation-toggle{
    display: block;
  }
  .Navigation-toggle-list{
    margin-left: 35%;
    font-size: 10px;
  }  
  .Navigation-toggle-list li{
    padding: 2px 10px 2px 10px;
  }
  .Home-details{
    padding: 40px 15vh 30vh 10px;
    background-size: 35vh 35vh;
    background-position-x: 100%;
  }
  .Home-hello{
    font-size: 15px;
  }
  .Home-name{
    font-size: 20px;
  }
  .Home-and, .Home-designation{
    font-size: 10px;
  }  
  .Home-description{
    font-size: 10px;
  }
  .Home-social-icons span{
    margin: 1px;
  }  
}

@media only screen and (min-width: 380px) and (max-width: 600px) {
  /* small-sized screens */
  .Navigation{
    padding: 10px 20px 10px 20px;
  }
  .Navigation-inline{
    display: none;
  }
  .Navigation-toggle{
    display: block;
  }
  .Navigation-toggle-list{
    margin-left: 40%;
    font-size: 10px;
  }  
  .Navigation-toggle-list li{
    padding: 2px 10px 2px 10px;
  }
  .Home-details{
    padding: 60px 20vh 10px 20px;
    background-size: 35vh 35vh;
    background-position-x: 100%;
  }
  .Home-hello{
    font-size: 18px;
  }
  .Home-name{
    font-size: 25px;
  }
  .Home-and, .Home-designation{
    font-size: 12px;
  }  
  .Home-description{
    font-size: 12px;
  }
  .Home-social-icons span{
    margin: 2px;
  }  
}

@media only screen and (min-width: 600px) and (max-width: 880px) {
  /* medium-sized screens */
  .Navigation{
    padding: 10px 30px 10px 30px;
  }
  .Navigation-inline{
    display: none;
  }
  .Navigation-toggle{
    display: block;
  }
  .Navigation-toggle-list{
    margin-left: 40%;
    font-size: 12px;
  }  
  .Navigation-toggle-list li{
    padding: 2px 10px 2px 10px;
  }
  .Home-details{
    padding: 80px 35vh 10px 30px;
    background-size: 35vh 35vh;
    background-position-x: 100%;
  }
  .Home-hello{
    font-size: 20px;
  }
  .Home-name{
    font-size: 25px;
  }
  .Home-and, .Home-designation{
    font-size: 15px;
  }  
  .Home-description{
    font-size: 15px;
  }
  .Home-social-icons span{
    margin: 2px;
  }  
}

@media only screen and (min-width: 880px) and (max-width: 1024px) {
  /* large-sized screens */
  .Navigation{
    padding: 10px 40px 10px 40px;
  }
  .Navigation-inline{
    display: none;
  }
  .Navigation-toggle{
    display: block;
  }
  .Navigation-toggle-list{
    margin-left: 45%;
  }  
  .Navigation-toggle-list li{
    padding: 3px 20px 3px 20px;
  }
  .Home-details{
    padding: 100px 45vh 10px 40px;
    background-size: 45vh 45vh;
    background-position-x: 100%;
  }
  .Home-hello{
    font-size: 20px;
  }
  .Home-name{
    font-size: 25px;
  }
  .Home-and, .Home-designation{
    font-size: 15px;
  }  
  .Home-description{
    font-size: 15px;
  }
  .Home-social-icons span{
    margin: 2px;
  }  
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  /* xlarge-sized screens */
  .Navigation{
    padding: 10px 50px 10px 50px;
  }
  .Home-details{
    padding: 110px 55vh 10px 50px;
    background-position-x: 90%;
  }
  .Home-hello{
    font-size: 25px;
  }
  .Home-name{
    font-size: 35px;
  }
  .Home-and, .Home-designation{
    font-size: 20px;
  }  
  .Home-description{
    font-size: 18px;
  }
  .Home-social-icons span{
    margin: 5px;
  }  
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  /* xxlarge-sized screens */
  .Navigation{
    padding: 10px 50px 10px 50px;
  }
  .Home-details{
    padding: 120px 100vh 10px 50px;
  }
  .Home-hello{
    font-size: 25px;
  }
  .Home-name{
    font-size: 35px;
  }
  .Home-and, .Home-designation{
    font-size: 20px;
  }  
  .Home-description{
    font-size: 18px;
  }
  .Home-social-icons span{
    margin: 5px;
  }  
}

@media only screen and (max-width: 1024px) {
  .Navigation-toggle-list{
    display: block;
  }  
}
@media only screen and (min-width: 1025px) {
  .Navigation-toggle-list{
    display: none;
  }  
}
