.App-logo {
  height: 10vmin;
  pointer-events: none;
  /* border: 1px solid white; */
}

.Navigation{
  /* border: 1px solid white; */
  padding: 10px 70px 10px 70px;
}

.Navigation ul{
  list-style-type: none;
  float: right;
}

.Navigation-inline {
  margin: 0;
  padding: 0 10px 0 0;
  overflow: hidden;
  /* border: 1px solid white; */
}

.Navigation-inline li{
  float: left;
  cursor: pointer;
}
.Navigation-inline li:hover{
  color: #0095d1;
}

.Navigation-inline li p{
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: 600;
}

.Navigation-toggle{
  height: 6vmin;
  float: right;
  display: none;
  margin: 1vh 2vh 1vh 1vh;
  border: 1px solid #0095d1;
  border-radius: 10px;
  cursor: pointer;
}
.Navigation-hidden {
  display: none;
}

.active{
  color: #0095d1;
}

.Home-details{
  padding: 120px 120vh 100px 70px;
  /* border: 1px solid white; */
}

.Home-social-icons span{
  margin: 5px;
}

.Home-social-icons span img{
  height: 4vmin;
  cursor: pointer;
}

.Home-introduction{
  font-weight: bold;
}

.Home-hello{
  font-size: 30px;
}

.Home-name{
  font-size: 50px;
}

.Home-and, .Home-designation{
  font-size: 20px;
}

.Home-designation{
  color: #0095d1;
}

.Home-description{
  font-size: 18px;
}

@media only screen and (max-width: 380px) {
  /* xsmall-sized screens */
  .Navigation{
    padding: 10px 10px 10px 10px;
  }
  .Navigation-inline{
    display: none;
  }
  .Navigation-toggle{
    display: block;
  }
  .Home-details{
    padding: 40px 15vh 10px 10px;
  }
  .Home-hello{
    font-size: 15px;
  }
  .Home-name{
    font-size: 20px;
  }
  .Home-and, .Home-designation{
    font-size: 10px;
  }  
  .Home-description{
    font-size: 10px;
  }
  .Home-social-icons span{
    margin: 1px;
  }  
}

@media only screen and (min-width: 380px) and (max-width: 600px) {
  /* small-sized screens */
  .Navigation{
    padding: 10px 20px 10px 20px;
  }
  .Navigation-inline{
    display: none;
  }
  .Navigation-toggle{
    display: block;
  }
  .Home-details{
    padding: 60px 30vh 10px 20px;
  }
  .Home-hello{
    font-size: 18px;
  }
  .Home-name{
    font-size: 25px;
  }
  .Home-and, .Home-designation{
    font-size: 12px;
  }  
  .Home-description{
    font-size: 12px;
  }
  .Home-social-icons span{
    margin: 2px;
  }  
}

@media only screen and (min-width: 600px) and (max-width: 880px) {
  /* medium-sized screens */
  .Navigation{
    padding: 10px 30px 10px 30px;
  }
  .Navigation-inline{
    display: none;
  }
  .Navigation-toggle{
    display: block;
  }
  .Home-details{
    padding: 30px 50vh 10px 30px;
  }
  .Home-hello{
    font-size: 20px;
  }
  .Home-name{
    font-size: 25px;
  }
  .Home-and, .Home-designation{
    font-size: 15px;
  }  
  .Home-description{
    font-size: 15px;
  }
  .Home-social-icons span{
    margin: 2px;
  }  
}

@media only screen and (min-width: 880px) and (max-width: 1024px) {
  /* large-sized screens */
  .Navigation{
    padding: 10px 40px 10px 40px;
  }
  .Navigation-inline{
    display: none;
  }
  .Navigation-toggle{
    display: block;
  }
  .Home-details{
    padding: 60px 80vh 10px 40px;
  }
  .Home-hello{
    font-size: 20px;
  }
  .Home-name{
    font-size: 25px;
  }
  .Home-and, .Home-designation{
    font-size: 15px;
  }  
  .Home-description{
    font-size: 15px;
  }
  .Home-social-icons span{
    margin: 2px;
  }  
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  /* xlarge-sized screens */
  .Navigation{
    padding: 10px 50px 10px 50px;
  }
  .Home-details{
    padding: 70px 80vh 10px 50px;
  }
  .Home-hello{
    font-size: 25px;
  }
  .Home-name{
    font-size: 35px;
  }
  .Home-and, .Home-designation{
    font-size: 20px;
  }  
  .Home-description{
    font-size: 18px;
  }
  .Home-social-icons span{
    margin: 5px;
  }  
}
